/* Import fonts, this must be done before importing Tailwind CSS */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* Import highlight.js theme, see https://github.com/highlightjs/highlight.js/tree/main?tab=readme-ov-file#download-prebuilt-cdn-assets */
@import url("https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/github-dark-dimmed.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
	@apply underline;
}

.gliph {
	position: fixed;
	width: 16px;
	height: 16px;
	z-index: -1;
	animation-name: wander;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: var(--gliph-duration);
}

@keyframes wander {
	0%,
	100% {
		transform: translate(0, 0) rotate(0);
	}
	50% {
		transform: translate(var(--gliph-x), var(--gliph-y)) rotate(360deg);
	}
}
